@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eef2f4;
  font-family: sans-serif;
}
.slick-slide > div {
  margin: 0 6px;
}

.slick-next,
.slick-prev {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
  font-family: monospace;
}

.slick-next:before {
  content: ">";
  color: black;
}
.slick-prev:before {
  content: "<";
  color: black;
}
